.full-bg {
  background-image: url("./Assets/Photoshop/bg-2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  opacity: 90%;
  left: 0;
  z-index: -1;
}

.pattern {
  background-image: url("./Assets/Decors/pattern.svg");
  background-size: 150vw;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 25%;
  z-index: -2;
}

.bg-ls {
  background-image: url("./Assets/Photoshop/bg-2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  opacity: 80%;
  left: 0;
  z-index: -1;
}

.pattern-2 {
  background-image: url("./Assets/Decors/pattern.svg");
  background-size: 150vw;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 15%;
  z-index: -2;
}
